<launch>
  <!-- Load URDF into parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find kuka-r900-description)/urdf/kuka_r900.urdf.xacro'" />

  <!-- Publish TFs from joints -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- GUI sliders to move joints -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>

  <!-- Start RViz -->
  <node name="rviz" pkg="rviz" type="rviz"/>

</launch>
